<div class="row">
    <div class="col-xs-12 mx-auto">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input 
                type="email" 
                class="form-control" 
                id="email" 
                aria-describedby="email"
                ngModel
                name="email"
                required
                email
              >
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input 
                type="password" 
                class="form-control" 
                id="password"
                ngModel
                name="password"
                required
                minlength="6"
              >
            </div>
            <button 
              type="submit" 
              class="btn btn-primary mr-4"
              [disabled]="!authForm.valid"
            > 
              {{ isLoggedInMode ? 'Login' : 'Sign up' }} 
            </button>
            <button type="button" class="btn btn-primary" (click)="onSwitchMode()">Switch to {{ isLoggedInMode ? 'sign up' : 'Login'}}</button>
          </form>
    </div>
</div>